.bg-form {
    background-image: url("/static/img/Cinepolis.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 20px;
    border-radius: 10px;
    color: white;
}
.text{
    text-align: center;
    font-weight: bold;
    border-bottom: 10px;
}